{
  "parser": "babel",
  "singleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    }
  ]
}