.sticky-header-placeholder {
  display: none;
}

.sticky-header {
  &.sticky-stick {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transform: translate3d(0, -102%, 100px);
    transition: all 0.3s ease;

    &.sticky-show {
      transform: translate3d(0, 0, 100px);
    }

    & ~ .sticky-header-placeholder {
      display: block;
    }
  }
}
